.navbar {
    background-color: #5755d9;
    color: #ffffff;
    padding: 0.25em;
}

.navbar .btn.btn-link {
    color: #ffffff;
}

.navbar .btn.btn-link.sitename {
    font-size: 1.2em;
}

.btn.btn-primary:hover {
    background-color: #5755d9c4;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30rem;
    max-width: 85%;
    padding: 3em 0;
}

.info {
    font-style: italic;
    padding: 1em;
}

#add-candidate {
    margin: 0.5em 0;
}

.candidates {
    margin: 1em 0;
}

footer {
    margin: 1em;
    position: fixed;
    bottom: 0;
}

#noty_layout__topRight {
    top: 50px !important;
}
